<section ng-controller="DashboardCtrl" class="row-fluid">
	<h1> {{ project.name }} </h1>
	<div class="span12">
		<section id="todo"  class="span3">
			<h2> To do </h2>
			<card ng-repeat="issue in project.issues | filter:{status:'todo'}" class="row"/>
		</section>
		<section id="progress" class="span3">
			<h2> In progress </h2>
			<card ng-repeat="issue in project.issues | filter:{status:'progress'}" class="row"/>
		</section>
		<section id="ready" class="span3">
			<h2> Ready for Testing </h2>
			<card ng-repeat="issue in project.issues | filter:{status:'ready'}" class="row"/>
		</section>
		<section id="done" class="span3">
			<h2> Done </h2>
			<card ng-repeat="issue in project.issues | filter:{status:'done'}" class="row"/>
		</section>
	</div>
</section>